<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761113962970-3vrqfss2j6e8st2krmdcj95m7feu138a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761113962970-3vrqfss2j6e8st2krmdcj95m7feu138a</string>
	<key>API_KEY</key>
	<string>AIzaSyBZG9c_AZNX92_9UEX8-Q55yk5cLdHbMVk</string>
	<key>GCM_SENDER_ID</key>
	<string>761113962970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adegbola.riderapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-uber-clone-5cd1f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-uber-clone-5cd1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761113962970:ios:6d90560d900cca7f92b8e3</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-uber-clone-5cd1f-default-rtdb.firebaseio.com</string>
</dict>
</plist>